* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins, sans-serif';
    background-color: rgb(190, 190, 190);
}

nav {
    background-color: rgb(200, 200, 200);
    color:gray;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 30;
    padding: 20px;
}

nav ul li a {
    color: gray;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

nav ul li a:hover{
    background-color: rgba(35, 33, 33, 0.836);
    color: green;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

section {
    height: 100vh;
    text-align: center;
}

section.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: wheat;
}

section.section1 div.esquerda,
section.section1 div.esquerda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

section.section1 div.esquerda {
    background-color: black;
    border-right: 2px solid lightslategray;
}

h1 {
    font-size: 40px;
    width: 70%;
}

p {
    width: 60%
}

section.section2 {
    background-color: black;
    display: grid;
    place-items: center;
}

SECTION.section2 div.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
div.galeria img{
    height: 200px;
    object-fit: cover;
}

section.section3 {
display: grid;
color: brown;
place-items: center;
}

section.section3 div.formulario {
 display: grid;
 background-color: darkgrey;
 border-radius: 10px;
 padding: 20px;
}

form {
display: grid;
}

input, textarea {
padding: 20px;
border-radius: 10px;
margin: 10px;

}

button {
border-radius: 10px;
margin: 10px;
font-size: 25px;
font-family: 'poppins, sans-serif';
}

button:hover {
background-color: red;
cursor: pointer;
transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

